
# Default ignored files
.idea/
demo_cluster/internal/protocol/.outjs/
bin/
logs/
*.exe
vendor/*
!vendor/github.com/
vendor/github.com/*
!vendor/github.com/cherry-game/
go.work
go.work.sum
__debug_bin*